/*====== (Toggle) ===========================*/

.hambuger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.toggle__icon {
  display: block;
  font-size: 1.5rem;
  padding-left: 30px;
  z-index: 1;
  color: honeydew;
}
.toggle__icon:hover {
  color: red;
}

.toggle__sideBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
  display: none;
}

.toggle__sideBar ul {
  text-align: center;
  margin-top: 100px;
}

.toggle__sideBar ul li {
  margin-bottom: 15px;
}

.toggle__sideBar ul li a {
  display: block;
  color: honeydew;
  transition: 0.5s;
}

.toggle__sideBar ul li a:hover {
  color: red;
  background-color: honeydew;
}

.toggle__sideBar.active {
  display: flex;
  width: 250px;
}
.toggle__sideBar.active ul {
  width: 100%;
}
